* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0 auto;
}

/*header*/

.header{
  grid-area: header;
}

/*logo*/

.logo{
  grid-area: logo;
  border: 1px solid;
  padding: 10px;
}

.logo img{
  width: 100%;
  height: auto;
  max-width: 800px;
}

/*genomes*/

.genomes{
  grid-area: genomes;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(200, 1fr));
  grid-auto-rows: minmax(50px, 100px);
  gap: 5px;
  padding: 5px;
  grid-auto-flow:dense;
  height: max-content;
}

.gType{
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  cursor: pointer;
  font-size:1.3rem;
  background-color: #be401c;
  color: white;
}

.gType:hover{
  filter: opacity(0.9);
  transform: scale(1.04);
}

/*navbar*/

.navbar{
  grid-area: navbar;
}

.navbar a{
  text-decoration: none;
  color: #1f4738;
  font-size: 1.5rem;
}

.navbar i{
  font-size: 3rem;
}

/*sidebar*/

.sidebar{
  grid-area: sidebar;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(200, 1fr));
  grid-auto-rows: minmax(50px, 150px);
  grid-auto-flow: dense;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  height: max-content;
}

.imagenGen{
  position: relative;
  right: -35%;
  bottom: -25%;
  color: white;
  background: none;
  border: none;
  font-size: 3rem;
  padding: 0;
  opacity: .5;
}

.pag2{
  color: white;
  border-style: none;
  background-attachment: fixed;
  padding: 8px;
  margin: none;
}

/*main*/

.main{
  grid-area: main;
  margin: 0 auto;
  gap:10px;
}

.specieTitle {
  font-size: 1.5rem;
  padding: 10px;
  font-weight: bold;
}

.pie{
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #19674f;
  border-radius: 2px;
}

.barras{
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #19674f;
  border-radius: 2px;
}

.divTitle{
  background-color: #19674f;
  padding: 7px;
  font-weight: bold;
  color: white;
}

.graf{
  width: 100%;
  height: auto;
  max-width: 450px;
  padding: 0px;
}

/*footer*/

.footer{
  grid-area: footer;
  background-color: #f28b4c;
  box-shadow: 1px 1px 1px #999;
}

.footer h3{
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 0.9rem;
}

/*Containers*/

.grid-container{
  display: grid;
  text-align: center;
  gap: 10px;
  grid-template: 
    "header" auto
    "mainContainer" auto
    "footer" auto;
}

.mainContainer{
  grid-area: mainContainer;
  max-width: 1200px;
  gap: 10px;
  margin: 0 auto;
  display: grid;
  grid-template: 
    "logo logo" auto
    "leftContainer main" auto;
}

.leftContainer{
  grid-area: leftContainer;
  gap: 10px;
  display: grid;
  grid-template: 
    "genomes" auto
    "navbar" auto
    "sidebar" auto;
}

@media (max-width: 768px){

  .mainContainer{
    gap: 10px;
    grid-template: 
    "logo" auto
    "leftContainer" auto
    "main" auto;
  }

  .logo{
    border: none;
    padding: 10px;
  }

  .sidebar{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(50px, auto);
  }

  .gType{
    font-size:1.3rem;
  }

}