.grid-superior {
  background-color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0;
}

.nav-link1 {
  color: black;
  text-decoration: none;
  margin: 0 auto;
}

.specie-title {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.search {
  display: flex;
  margin-right: 40px;
  list-style: none;
}


.nav-menu-item1 {
  font-size: 45px;
  margin: 0 10px;
  line-height: 80px;
  width: max-content;
  margin: 0 auto;
}

/*big-grid*/

.big-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-auto-flow:dense;
}

/*left*/

.grid-left {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  padding: 20px;
  height: 80px;
  position: fixed;
  width: 15%;
  top: 200px;
  left: 10%;
  grid-auto-flow:dense;
}

.pag2{
  color: white;
  border-style: none;
  background-attachment: fixed;
  padding: 8px;
  margin: none;
  text-align: center;
}

/*right*/

.grid-right {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: minmax(500px, auto);
  padding: 20px;
  height: 80px;
  position: fixed;
  width: 50%;
  top: 200px;
  left: 30%;
  grid-auto-flow:dense;
}

.pie {
  position: static;
  margin: 0 auto;
}

.bars {
  position: static;
  margin: 0 auto;
}

@media (max-width: 768px) {
  
  body {
  padding-top: 70px;
  }
  
  .grid-superior {
  background-color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0;
}

.nav-menu-item1 {
  font-size: 30px;
  margin: 0 10px;
  line-height: 80px;
  width: max-content;
  margin: 0 auto;
}

.specie-title {
  font-size: 4vw;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.search {
  display: flex;
  margin-right: 20px;
  list-style: none;
}

.nav-menu-item1 {
  font-size: 45px;
  margin: 0 10px;
  line-height: 80px;
  width: max-content;
  margin: 0 auto;
}

/*big-grid*/

.big-grid {
  display: grid;
  grid-template-columns:1fr
  gap: 10px;
  padding: 10px;
  grid-auto-flow:dense;
  
  overflow-y: auto;
}

/*left*/

.grid-left {
  display: grid-right;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  padding: 10px 0;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 200px;
  left: 0;
  grid-auto-flow:dense;
}

.pag2{
  color: white;
  border-style: none;
  background-attachment: fixed;
  padding: 8px;
  text-align: center;
  margin: none;
}

/*right*/

.grid-right {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(500px, auto);
  padding: 10px 0;
  height: 80px;
  position: fixed;
  width: 50%;
  top: 400px;
  left: 0;
  grid-auto-flow:dense;
}

.pie {
  position: static;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.bars {
  position: static;
  margin: 0 auto;
}
}