* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Minion";
  src: url("MinionPro-BoldCapt.otf");
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Minion";
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container>*{
  text-align: center;
}
/*header*/

.header{
  grid-area: header;
  background-color: #740404;
}

/*navbar*/

.navbar{
  grid-area: navbar;
  display: flex;
  justify-content: center;
}

.nav-link1 {
  color: black;
  text-decoration: none;
  margin: 0 auto;
}

.specie-title {
  font-size: 2vw;
  padding: 0 50px;
  font-weight: bold;
}

.search {
  display: flex;
  list-style: none;
}


.nav-menu-item1 {
  font-size: 45px;
  margin: 0 10px;
  width: max-content;
  margin: 0 auto;
}

/*sidebar*/

.sidebar{
  grid-area: sidebar;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow:dense;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.pag2{
  color: white;
  border-style: none;
  background-attachment: fixed;
  padding: 8px;
  margin: none;
  text-align: center;
}

/*main*/

.main{
  grid-area: main;
  padding: 30px;
  margin: 0 auto;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

/*footer*/

.footer{
  grid-area: footer;
}

.grid-container{
  display: grid;
  gap: 10px;
  grid-template: 
    "header header" 100px
    ". navbar" 70px
    "sidebar main" auto
    "footer footer" 40px /
    200px auto;
}

@media (max-width: 768px){
  .grid-container{
  display: grid;
  gap: 10px;
  grid-template: 
    "header" 80px
    "navbar" 60px
    "sidebar" auto
    "main" auto
    "footer" 40px;
}
}