
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    
    text-decoration: none;
    color: initial;
    border-radius: 20px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: #9c0028;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: #9c0028;
}

.header{font-family: Verdana,Arial,sans-serif;
  font-size: 15px;
  color: #000000;
  text-align: justify;
  background-color: #9c0028;}

.CeniTitle{
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  font-size: 50px;
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#container {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}
#container > div {
  width: 350px;
  height: 150px;
}
