* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Minion";
  src: url("MinionPro-BoldCapt.otf");
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Minion";
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container>*{
  text-align: center;
}

/*header*/

.header{
  grid-area: header;
  background-color: #740404;
}

/*main*/

.main{
  grid-area: main;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.grid-container{
  display: grid;
  gap: 10px;
  grid-template: 
    "header" 100px
    "main" auto
    "footer" 40px;
}