body {
  font-family: "Minion";
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 100px;
}

.nav-menu {
  display: flex;
  margin-right: 20px;
  list-style: none;
}

.nav-menu-item {
  font-size: 35px;
  margin: 0 10px;
  line-height: 100px;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
  transition: 0.5s;
}

.nav-menu-link:hover {
  background: none;
  color: #7c524f;
}

.imagen{
  width: 12vw;
}

@media (max-width: 768px) {
  
  .logo {
    font-size: 5vw;
    padding: 0 10px;
    line-height: 80px;
  }
  
  .nav-menu {
    margin-right: 5px;
  }
  
  .nav-menu-item {
    font-size: 5vw;
    line-height: 80px;
  }
  .imagen{
    width: 24vw;
  }
}