body {
  font-family: "Minion";
  max-width: 1200px;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.imagen{
  width: 12vw;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 100px;
}

.nav-menu {
  display: flex;
  margin-right: 20px;
  list-style: none;
  flex-direction: column;
  background-color: #7c524f;
  position: fixed;
  right: 0;
  top: 100px;
  align-items: center;
  padding: 0;
}

.nav-menu-item {
  font-size: 1.2vw;
  margin: 0 5px;
  line-height: 100px;
  width: max-content;
  text-transform: uppercase;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
  transition: 0.5s;
}

.nav-menu-link:hover {
  background: none;
  color: #7c524f;
  transition: 0.5s;
}

.nav-toggle{
  color: white;
  background: none;
  border: none;
  font-size: 2vw;
  padding: 0 20px;
  line-height: 80px;
}

@media (max-width: 768px) {
  
  .logo {
    font-size: 4vw;
    padding: 0 5px;
    line-height: 80px;
  }
  
  .nav-menu {
    margin-right: 20px;
    left: 0px;
    top: 80px;
    width: 100%;
  }
  
  .nav-menu-item {
    font-size: 5vw;
    line-height: 80px;
  }
  
  .imagen{
    width: 24vw;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
    transition: 0.5s;
  }
  
  .nav-menu-link:hover {
    background: none;
    color: #7c524f;
    transition: 0.5s;
  }
  
  .nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 2vw;
    padding: 0 20px;
    line-height: 80px;
  }
}