body {
  font-family: "Minion";
  max-width: 1200px;
}

ul{
  list-style: none;
  padding: 0;
  margin:0;
}

i {
  color: white;
  padding: 0 20px;
}

.header{
  background-color: #740404;
}

.imagen{
  width: 11vw;
  line-height: 100px;
}

.cenTitle {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 100px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
}

.navegacion{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  line-height: 80px;
  width: max-content;
}

.navegacion a{
  padding: 1rem;
  display: block;
}

.nav-menu{
  position: relative;
  font-size: 2vw;
  height: 100px;
  padding: 0 20px;
}

.nav-menu .submenu{
  position: absolute;
  wmargin: 0 auto;
}

#mn{
  padding: 0 25px;
}

.nav-menu-item{
  font-size: 1vw;
  padding: 0;
}

.nav-menu-item i{
  padding: 0 5px;
}

.submenu{
  background-color: #7c524f;
}

@media (max-width: 768px) {
  .navegacion{
    flex-direction: row;
  }
  
  .nav-menu{
    
  }
}
