* {
  margin: 0;
  box-sizing: content-box;
}

body {
  min-height: 100%;
  font-family: Sans-Serif;
  max-width: 1200px;
  margin: 0 auto;
}

.selfIntro{
  padding: 10px 20px;
}

#textoTitle{
  font-size: 1.7rem;
  text-align: center;
}

.parrafo{
  text-align: justify;
}



.individuo{
  list-style: none;
  box-shadow: 2px 2px 5px #999;
  border-radius: 10px;
  display: flex;
  height: 10rem;
  width: max-content;
  padding: 5px 20px;
  margin: 0 auto;
}

.ind{
  list-style: none;
  padding: 12px;
  height: max-content;
  font-size: 1em;
}

.individuo:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.principal{
  font-size: 1.1em;
  font-weight: bold;  
}

.footer{
  padding: 12px;
  text-align: center;
}

@media (max-width: 768px){
  .individuo{
    width: 100%;
    padding: 0;
  }
  .ind{
    hyphens: auto;
  }
}
