* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0 auto;
}

span{
  color: red;
}

/*header*/

.header{
  grid-area: header;
}

/*main Container*/

.mainContainer{
  grid-area: mainContainer;
  max-width: 1200px;
  gap: 10px;
  margin: 0 auto;
  display: grid;
  grid-template:
    "logo" auto
    "formulario" auto;
}

/*logo*/

.logo{
  grid-area: logo;
  border: 1px solid;
  padding: 10px;
}

.logo img{
  width: 100%;
  height: auto;
  max-width: 800px;
}

/*formulario*/

.formulario{
  grid-area: formulario;
  margin: 0 auto;
  border: 1px solid #1d846b;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #999;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
}

#star{
  background-color: #1d846b;
  color: white;
  width: 100%;
  padding: 5px;
}

input{
  border-color: #dedddc;
  border-radius: 4px;
}

input:focus{
  border: 2px solid #555;
}

textarea{
  border-color: #dedddc;
}

input[type=button], input[type=submit], input[type=reset]{
  background-color: #1d846b;
  border: none;
  padding: 5px;
  box-shadow: 1px 1px 1px #999;
  text-decoration: none;
  cursor: pointer;
  color: white;
}


/*footer*/

.footer{
  grid-area: footer;
  background-color: #f28b4c;
  box-shadow: 1px 1px 1px #999;
}

.footer h3{
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 0.9rem;
}

/*all*/

.grid-container{
  text-align: center;
  gap: 10px;
  grid-template:
    "header" auto
    "mainContainer" auto
    "footer" auto;
}

@media (max-width: 768px){
  
  .logo{
    border: none;
    padding: 10px;
  }

}
